* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  font-family: "Raleway", "Helvetica", sans-serif;
  font-size: 18px;
}

h1 {
  display: none;
}

h2 {
  font-size: 64px;
  font-weight: 500;
}

.p {
  line-height: 1.4rem;
  margin: 1rem 0;
}

section {
  margin: 5rem 0;
}

.header,
.main {
  padding: 2rem 3rem;
}

.header {
  height: 100vh;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  position: sticky;
  top: 2rem;
}

.main-nav .left-menu,
.right-menu {
  text-transform: uppercase;

  display: flex;
  flex-flow: row wrap;
  gap: 6rem;
}

.nav-link {
  color: #141414;
  font-size: 14px;
  font-weight: 800;
}

.hero {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-between;

  height: 88vh;
}

.hero-img-1 {
  background-image: url("../images/03312096dfr.jpg");
  background-size: cover;
  background-position: center;

  width: 300px;
  height: 590px;
}

.hero-img-2 {
  background-image: url("../images/12011010dfr.jpg");
  background-size: cover;
  width: 600px;
  height: 280px;
}

.logo {
  position: absolute;
  align-self: center;
  left: 20%;
}

.main-p {
  font-size: 64px;
  font-weight: 500;
}

.history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "img info-wrapper"
    "p p";
}

.museum-photo-1 {
  background: url("../images/12011050dfr-web.jpg") no-repeat center;
  width: 529px;
  height: 498px;
  grid-area: img;
}

.info-wrapper {
  grid-area: info-wrapper;
}

.history > .p {
  grid-area: p;
  width: 50%;
  justify-self: center;
  margin-top: 5rem;
}

.footer {
  background-color: #e8e8e8;
  padding: 2rem;
}
